.books {
  padding: 0 24px;

  &-container {
    &__heading {
      border-bottom: 2px solid var(--color-n-dark);
      font-size: var(--font-size-two);
      padding: 5px 0;
    }

    &__no-book {
      font-size: var(--font-size-one);
      font-style: italic;
      margin: 10px 0;
    }

    &__add-book {
      display: flex;
      cursor: pointer;
      width: fit-content;
      margin-top: 20px;
    }

    &--position {
      margin-top: var(--spacing-sixtennth);
      font-size: var(--font-size-one-and-quarter);
    }

    &__form {
      width: 75%;
      margin-top: 20px;

      &--create-font {
        font-size: var(--font-size-one-and-quarter);
        margin-bottom: 10px;
      }

      &--display {
        display: flex;
        justify-content: space-between;
      }

      @media only screen and (max-width: 720px) {
        width: 100%;
      }
    }

    &__button {
      float: right;
      margin: 10px 0;
      cursor: pointer;
    }

    &--pointer {
      cursor: pointer;
    }

    &__list {
      width: 100%;
      text-align: left;
      padding: 5px 0;
      margin: 20px 0;
      display: grid;
      grid-template-columns: 4fr 1fr;
      font-size: var(--font-size-one-and-half);

      &--icon {
        display: grid;
        grid-template-columns: 2fr 2fr;
        cursor: pointer;
      }
    }
  }
}

option {
  height: 70px;
  font-size: large;
}