:root {
  //background
  --color-n-background: #f9f9f9;
  --color-n-hover: #c6bfbf;

  //border
  --color-n-20: #d5cfcf;
  --color-n-night: #333333;
  --color-n-dark: #1f1c1c;

  //validate | invalidate
  --color-fail: #d00b4d;
  --color-success: #05a713;

  //font
  --color-f-40: #807e7e;
}
