:root {
  --spacing-sixtennth: 0.0625rem;
  --spacing-eighth: 0.125rem;
  --spacing-quarter: 0.25rem;
  --spacing-half: 0.5rem;
  --spacing-three-quarter: 0.75rem;
  --spacing-one: 1rem;
  --spacing-one-and-half: 1.5rem;
  --spacing-two: 2rem;
}
