:root {
  --font-size-eightn: 0.125rem;
  --font-size-three-quarter: 0.75rem;
  --font-size-one: 1rem;
  --font-size-one-and-quarter: 1.25rem;
  --font-size-one-and-half: 1.5rem;
  --font-size-two: 2rem;
  --font-size-three: 3rem;
}
