<div class="app">
  <div class="app__title">Logan Library</div>
  <img src="../assets/images/library-welcome.webp" class="app__image" />
  <div class="app__description">
    Photo by
    <a href="https://unsplash.com/@giamboscaro">Giammarco Boscaro</a> on
    <a href="https://unsplash.com/">unplash</a>
  </div>
  <div class="app__operation">
    <div class="app__operation--margin"><app-book></app-book></div>
    <div class="app__operation--margin"><app-author></app-author></div>
  </div>
  <div><app-footer></app-footer></div>
</div>
